
.nav-link:hover{
    color: black !important;
}

.navbar{
    top: 0;
    left: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

/* ketika di scroll ke bawah */
.navbar.scrolling-active{
    background-color: #212529;
    padding: 15px 0 15px 0;
}

/* transisi navbar */
.navbar{
    transition: all 0.3s ease;
}

.icon{
    color: black;
}

.icon:hover{
    color: #999;
}

.dropdown-menu {
    position: absolute;
  }

  .hero{
    background-image: linear-gradient(rgba(43,42,42,0.8), rgba(43,42,42,0.8)), url('./img/hero.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

/* footer */
footer{
    background-color: #1d1d1d;
}

footer h5{
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
}

footer li{
    padding-bottom: 4px;
}

footer li a{
    font-size: 0.8rem;
    color: #999;
    text-decoration: none;
}

footer li a:hover{
    color: white;
}

footer p{
    color: #999;
    font-size: 0.8rem;
}

h6{
    color: grey;
}

footer .copyright a{
    color: #1d1d1d;
    width: 38px;
    height: 38px;
    background-color: white;
    display: inline-block;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    transition: 0.3s ease;
    margin: 0 5px;
}

footer .copyright a:hover{
    color: white;
    background-color: #999;
}
/* end footer */